:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

/* Global */
h1 {
  font-weight: 700!important;
  font-size: 2.5rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

.text-capitalize {
  text-transform: capitalize!important;
}

.text-title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}


/* Navbar */
.navbar {
  background: var(--mainBlue);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.navbar-logo {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  vertical-align: middle;
  border-style: none;
}

.navbar-ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  align-items: center!important;
  margin-top: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.navbar-ul li {
  margin-left: 3rem!important;
  display: list-item;
  text-align: -webkit-match-parent;
}

.navbar-link {
  color: var(--mainWhite) !important;
  font-size: 1.3rem;
  text-transform: capitalize;
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
}

.cart-link {
  margin-left: auto!important;
}

.buttonContainer {
  text-transform: capitalize;
  font-size: 1.4rem;
  background: transparent;
  border: 0.05rem solid var(--lightBlue);
  color: var(--lightBlue);
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  margin: 0.2rem 0.5rem 0.2rem 0;
  transition: all 0.5s ease-in-out;
}
.buttonContainer:hover {
  background: var(--lightBlue);
  color: var(--mainBlue);
}
.buttonContainer:focus {
  outline: none;
}
.buttonContainer span {
  margin-right: .5rem!important;
}

.buttonContainer-orange {
  border-color: var(--mainYellow);
  color: var(--mainYellow);
}
.buttonContainer-orange:hover {
  background: var(--mainYellow);
  color: var(--mainBlue);
}

@media (min-width: 576px) {
  .navbar {
    padding-left: 3rem!important;
    padding-right: 3rem!important;
    flex-flow: row nowrap !important;
    justify-content: flex-start !important;
  }
}


/* Product List */
.productList {
  padding-top: 3rem!important;
  padding-bottom: 3rem!important;
}


/* Title */
.title {
  text-align: center!important;
  margin-left: auto!important;
  margin-right: auto!important;
  margin-bottom: .5rem!important;
  margin-top: .5rem!important;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* Product */
.productWrapper {
  flex: 0 0 75%;
  max-width: 75%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 1rem auto!important;
}
@media (min-width: 768px) {
  .productWrapper {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  .productWrapper {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  border-color: transparent !important;
  transition: all 1s linear;
}
.card:hover {
  border: 0.04rem solid rgba(0,0,0,.2);
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,.2);
}
.card:hover .card-info{
  background: rgba(247,247,247) !important;
}

.image-container {
  padding: 3rem!important;
  position: relative;
  overflow: hidden;
}

.card-image {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  flex-shrink: 0;
  width: 100%;
  vertical-align: middle;
  border-style: none;
  transition: all 1s linear;
}
.image-container:hover .card-image {
  transform: scale(1.2);
}

.card-info {
  justify-content: space-between!important;
  display: flex!important;
  padding: .75rem 1.25rem;
  background-color: rgba(0,0,0,.03);
  background: transparent !important;
  border-top: transparent !important;
  transition: all 1s linear;
}
.card-info:last-child {
  border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

.card-title {
  margin-bottom: 0!important;
  align-self: center!important;
  margin-top: 0;
}

.card-price {
  font-style: italic!important;
  margin-bottom: 0!important;
  font-size: 1.25rem;
  display: block;
  margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 0!important;
    align-self: center!important;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0 !important;
}
.card-price span {
  margin-right: .25rem!important;
}

.cart-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2rem 0.4rem;
  background: var(--lightBlue);
  border: none;
  color: var(--mainWhite);
  font-size: 1.4rem;
  border-radius: 0.5rem 0 0 0;
  transform: translate(100%, 100%);
  transition: all 1s linear;
}
.cart-btn:hover {
  color: var(--mainBlue);
  cursor: pointer;
}
.image-container:hover .cart-btn {
  transform: translate(0, 0);
}


/* Details */
.details-container {
  padding-top: 3rem!important;
  padding-bottom: 3rem!important;
}

.details-title {
  margin-top: 3rem!important;
  margin-bottom: 3rem!important;
  margin-left: auto!important;
  margin-right: auto!important;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center!important;
}

.details-image-container,
.details-info-container {
  margin-left: auto!important;
  margin-right: auto!important;
  margin-bottom: 1rem!important;
  margin-top: 1rem!important;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .details-image-container,
  .details-info-container {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.details-image {
  max-width: 100%;
  height: auto;
}

.details-info-container {
  text-transform: capitalize!important;
}

.details-made-by {
  color: #6c757d!important;
  text-transform: uppercase!important;
  margin-top: 1rem!important;
  margin-bottom: .5rem!important;
}
.details-made-by span {
  text-transform: uppercase!important;
}

.details-product-info-title {
  font-weight: 700!important;
  text-transform: capitalize!important;
  margin-top: 1rem!important;
  margin-bottom: 0!important;
}

.details-product-info {
  color: #6c757d!important;
  font-size: 1.25rem;
  font-weight: 300;
}