:root {
  --mainBlue: #1e8cff;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --mainRed: #DC143C;
}

body {
  font-family: 'Montserrat', sans-serif!important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

/* Global */
h1 {
  font-weight: 700!important;
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

.text-capitalize {
  text-transform: capitalize!important;
}

.text-title {
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-title h1 {
  color: var(--mainDark);
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.fa-trash {
  color: var(--mainRed);
}

a,
a:focus,
span:focus {
  outline: none!important;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: none!important;
}

p {
  margin-top: 0!important;
}


/* Navbar */
.navbar {
  background: var(--mainBlue);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  padding-left: 1.5rem!important;
  padding-right: 1.5rem!important;
}
@media (min-width: 576px) {
  .navbar {
    padding-left: 3rem!important;
    padding-right: 3rem!important;
    flex-flow: row nowrap !important;
    justify-content: flex-start !important;
  }
}

.navbar-logo {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  vertical-align: middle;
  border-style: none;
  height: 100px;
}

.navbar-ul {
  display: flex;
  /* flex-direction: column; */
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  align-items: center!important;
  margin-top: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.navbar-ul li {
  display: list-item;
  text-align: -webkit-match-parent;
}
@media (min-width: 992px) {
  .navbar-ul {
    padding-inline-start: 40px;
  }
  .navbar-ul li {
    margin-left: 3rem!important;
  }
}

.navbar-link {
  color: var(--mainWhite) !important;
  font-size: 1.3rem;
  text-transform: capitalize;
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: all .7s linear;
}
.navbar-link:hover {
  color: var(--mainRed)!important;
}

.home-link {
  display: none!important;
}
@media (min-width: 660px) {
  .home-link {
    display: initial!important;
  }
}

.cart-link {
  margin-left: auto!important;
}

.buttonContainer {
  text-transform: capitalize;
  font-size: 1.4rem;
  background: var(--mainWhite);
  border: 0.05rem solid var(--mainDark);
  color: var(--mainDark);
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  margin: 0.2rem 0.5rem 0.2rem 0;
  transition: all 0.5s ease-in-out;
}
.buttonContainer:hover {
  color: var(--mainRed);
}
.buttonContainer:focus {
  outline: none;
}
.buttonContainer span {
  margin-right: .5rem!important;
}

.buttonContainer-orange {
  border-color: var(--mainYellow);
  color: var(--mainYellow);
}
.buttonContainer-orange:hover {
  background: var(--mainYellow);
  color: var(--mainDark);
}

.buttonContainer-red {
  padding-left: 3rem!important;
  padding-right: 3rem!important;
  margin-bottom: 1rem!important;
  border-color: red;
  color: red;
}
.buttonContainer-red:hover {
  background: red;
  color: var(--mainWhite);
}

@media (min-width: 576px) {
  .navbar {
    padding-left: 3rem!important;
    padding-right: 3rem!important;
    flex-flow: row nowrap !important;
    justify-content: flex-start !important;
  }
}


/* Product List */
.productList {
  padding-top: 3rem!important;
  padding-bottom: 3rem!important;
}


/* Title */
.title {
  text-align: center!important;
  margin-left: auto!important;
  margin-right: auto!important;
  margin-bottom: .5rem!important;
  margin-top: .5rem!important;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* Product */
.productWrapper {
  flex: 0 0 75%;
  max-width: 75%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 1rem auto!important;
}
@media (min-width: 768px) {
  .productWrapper {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  .productWrapper {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  border-color: transparent !important;
  transition: all .7s linear;
}
.card:hover {
  border: 0.04rem solid rgba(0,0,0,.2);
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,.2);
}
.card:hover .card-info{
  background: rgba(247,247,247) !important;
}

.image-container {
  padding: 3rem!important;
  position: relative;
  overflow: hidden;
}

.card-image {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  flex-shrink: 0;
  width: 100%;
  vertical-align: middle;
  border-style: none;
  transition: all .7s linear;
}
.image-container:hover .card-image {
  transform: scale(1.2);
}

.card-info {
  justify-content: space-between!important;
  display: flex!important;
  padding: .75rem 1.25rem;
  background-color: rgba(0,0,0,.03);
  background: transparent !important;
  border-top: transparent !important;
  transition: all .7s linear;
  height: 72px;
}
.card-info:last-child {
  border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

.card-title {
  margin-bottom: 0!important;
  align-self: center!important;
  margin-top: 0;
}

.card-price {
  font-style: italic!important;
  margin-bottom: 0!important;
  font-size: 1.25rem;
  display: block;
  margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 0!important;
    align-self: center!important;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0 !important;
}
.card-price span {
  margin-right: .25rem!important;
}

.cart-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2rem 0.4rem;
  background: var(--mainRed);
  border: none;
  color: var(--mainWhite);
  font-size: 1.4rem;
  border-radius: 0.5rem 0 0 0;
  transform: translate(100%, 100%);
  transition: all .7s linear;
}
.cart-btn:hover {
  color: var(--mainDark);
  cursor: pointer;
}
.cart-btn p {
  text-transform: capitalize!important;
  margin-bottom: 0!important;
  margin-top: 0;
}
.image-container:hover .cart-btn {
  transform: translate(0, 0);
}


/* Details */
.details-container {
  padding-top: 3rem!important;
  padding-bottom: 3rem!important;
}

.details-title {
  margin-top: 3rem!important;
  margin-bottom: 3rem!important;
  margin-left: auto!important;
  margin-right: auto!important;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center!important;
}

.details-image-container,
.details-info-container {
  margin-left: auto!important;
  margin-right: auto!important;
  margin-bottom: 1rem!important;
  margin-top: 1rem!important;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .details-image-container,
  .details-info-container {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.details-image,
.modal-image {
  max-width: 100%;
  height: auto;
}

.details-info-container {
  text-transform: capitalize!important;
}

.details-made-by {
  color: #6c757d!important;
  text-transform: uppercase!important;
  margin-top: 1rem!important;
  margin-bottom: .5rem!important;
}
.details-made-by span {
  text-transform: uppercase!important;
}

.details-product-info-title {
  font-weight: 700!important;
  text-transform: capitalize!important;
  margin-top: 1rem!important;
  margin-bottom: 0!important;
}

.details-product-info {
  color: #6c757d!important;
  font-size: 1.25rem;
  font-weight: 300;
}


/* Modal */
.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-modal {
  position: relative;
  width: 100%;
  text-transform: capitalize!important;
  text-align: center!important;
  margin-left: auto!important;
  margin-right: auto!important;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  background: var(--mainWhite);
  padding: 3rem!important;
}
@media (min-width: 768px) {
  .modal-modal {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  .modal-modal {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.modal-price {
  color: #6c757d!important;
}


/* Cart */
.cartColumns-container {
  text-align: center!important;
  display: none!important;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 992px) {
  .cartColumns-container {
    display: block!important;
  }
}

.cart-column {
  margin-left: auto!important;
  margin-right: auto!important;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.cart-column p {
  text-transform: capitalize!important;
}
@media (min-width: 992px) {
  .cart-column {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}


/* EmptyCart */
.emptycart-container {
  margin-top: 3rem!important;
}

.emptycart-title {
  text-align: center!important;
  margin-left: auto!important;
  margin-right: auto!important;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}


/* CartList */
.cartList-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


/* CartItem */
.cartItem-row {
  margin-top: .5rem!important;
  margin-bottom: .5rem!important;
  text-align: center!important;
  text-transform: capitalize!important;
}

.cartItem-column {
  margin-left: auto!important;
  margin-right: auto!important;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.cartItem-column img {
  width: 5rem;
  height: 5rem;
}
@media (min-width: 992px) {
  .cartItem-column {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .cartItem-column .small-screen-title {
    display: none!important;
  }
}

.btn-black {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: .375rem .75rem;
  line-height: 1.5;
  margin-left: .25rem!important;
  margin-right: .25rem!important;
  background: transparent;
  text-transform: capitalize;
  font-size: .8rem!important;
  color: var(--mainDark);
  border-radius: 0!important;
  border: 0.1rem solid var(--mainDark)!important;
  transition: all 0.7s linear;
  cursor: pointer;
}
.btn-black:hover {
  background: var(--mainDark)!important;
  color: var(--mainWhite)!important;
}

.btn-count {
  cursor: default;
}
.btn-count:hover {
  color: var(--mainDark)!important;
  background: transparent!important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow)!important;
}


/* CartTotal */
.cartTotal-container {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  text-transform: capitalize!important;
  text-align: right!important;
  margin-top: .5rem!important;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
@media (min-width: 576px) {
  .cartTotal-container {
    margin-left: 3rem!important;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}
@media (min-width: 768px) {
  .cartTotal-container {
    margin-left: auto!important;
  }
}

.text-title strong {
  font-family: "Oswald", sans-serif !important;
  letter-spacing: 0.2rem;
}


/* Default */
.default-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-404 {
  position: relative;
  width: 100%;
  text-transform: capitalize!important;
  text-align: center!important;
  margin-left: auto!important;
  margin-right: auto!important;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  padding: 3rem!important;
  z-index: -1;
}







/* NEW NAVBAR */


.logo-container {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.brand-logo {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  vertical-align: middle;
  border-style: none;
  height: 70px;
}

.navbar-link {
  color: var(--mainWhite) !important;
  font-size: 1rem;
  text-transform: capitalize;
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: all .7s linear;
}
.navbar-link:hover {
  color: var(--mainRed)!important;
}

.navbar-burger {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: var(--mainWhite);
  transition: all .7s linear;
}
.navbar-burger:hover {
  color: var(--mainRed);
}
@media (min-width: 992px) {
  .navbar-burger {
    display: none;
  }
}

.fa-chevron-down {
  margin-right: .4rem!important;
}

.navbar-mobile {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
@media (min-width: 992px) {
  .navbar-mobile {
    display: flex!important;
    flex-basis: auto;
  }
}
.collapse:not(.show) {
  display: none;
}

@media (max-width: 992px) {
  .show {
    position: absolute;
    top: 86px;
    background: var(--mainBlue);
    left: 0;
    width: 100%;
  }
}

.navbar-link-container {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  text-transform: capitalize!important;
  margin-left: auto!important;
  margin-right: auto!important;
}
@media (min-width: 992px) {
  .navbar-link-container {
    flex-direction: row;
  }
}

.navbar-info {
  align-items: center!important;
  justify-content: space-between!important;
  display: flex!important;
  color: var(--mainWhite);
  transition: all .7s linear;
}
.navbar-info p {
  margin-bottom: 0!important;
}
@media (min-width: 992px) {
  .navbar-info {
    margin-left: 3rem!important;
    margin-right: 3rem!important;
  }
}

.navbar-num-button-container {
  display: flex!important;
}

.navbar-num,
.navbar-num-button-container {
  display: none!important;
}
@media (min-width: 1200px) {
  .navbar-num {
    display: inline-flex!important;
    margin: 0!important;
  }
}
@media (min-width: 992px) {
  .navbar-num-button-container {
    display: inline-flex!important;
    margin: 0!important;
  }
}

.navbar-info-icon {
  margin-right: 1rem!important;
}

.navbar-info-mobile {
  margin-left: auto!important;
}
@media (min-width: 992px) {
  .navbar-info-mobile {
    display: none!important;
  }
}

.navbar-info-cart {
  border: 0.05rem solid var(--mainWhite);
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  margin: 0.2rem 0.5rem 0.2rem 0;
  transition: all 0.5s ease-in-out;
}
.navbar-info-cart:hover {
  color: var(--mainRed);
}